<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-light">
      <p class="text-secondary">Wikinimous</p>
      <button type="button" class="btn btn-outline-secondary text-secondary"><%= link_to 'New article', new_article_path %></button>
    </nav>
    <%= yield %>
  </body>
</html>
